{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% csrf_token %}
<!-- Profile picture and the intro -->

<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<body style="background-image: url('{% static 'BG1.png' %}')">

    <div class="container">
        <div class="row">
        	<div class="col-6">
        		<article id="article mx-auto">
                    <div id="holder">
                        {% if profile_pic %}
                        <img style="z-index: 3;" id="profile-pic" src="{{profile_pic}}">
                        {% elif current_user == uploader %}
                        <p class="add" id="upload-sign">+</p>
                        <p class="upload-text" id="upload-text">Drag your profile picture here</p>
                        {% endif %}
                    </div>
                    <input type="file" id="my_image" style="display: none;">
                    <!--<p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>-->
                </article>
                <div style="background-image: url('{% static 'thumb_up.png' %}')" class="total-likes mx-auto"></div>
                <div class="center-text mx-auto">
                    Total likes: {{total_likes}}
                </div>

                <div class="mx-auto link-content">
                    {% if insta != '' or current_user == uploader %}
                    <div style="background-image: url('{% static 'instagram.png' %}')" class="link-img"></div>
                    <div class="link-text" id="insta-link">
                        {% if insta == "" %}
                        Link your Instagram account on your profile...
                        {% else %}
                        {{insta}}
                        {% endif %}
                    </div>

                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-insta" onclick="editInsta()"></div>
                    {% endif %}
                    {% endif %}
                </div>


                <div class="mx-auto link-content">
                    {% if fb != '' or current_user == uploader %}
                    <div style="background-image: url('{% static 'facebook.png' %}')" class="link-img"></div>
                    <div class="link-text" id="fb-link">
                        {% if fb == '' %}
                        Link your Facebook account in your profile...
                        {% else %}
                        {{fb}}
                        {% endif %}
                    </div>
                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-fb" onclick="editFb()"></div>
                    {% endif %}
                    {% endif %}
                </div>

        	</div>

            <div class="col-6 mx-auto">
            	<div class="cat-head">
                    Profile
                </div>
                    <div class="profile-description" id="profile-description">
	                    {{profile_txt_1}}
                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-profile-txt" onclick="editProfileText('{{profile_txt_1 | force_escape | force_escape}}')"></div>
                    {% endif %}
					</div>
                <div class="skills">
                    Skillset:
                    {% for skill in skillset %}
                    <li class="skill-tag" id="{{skill}}">
                        <span style="cursor: default;" class="skill-text">{{skill}}</span>
                        {% if current_user == uploader %}
                            <div class="cross" style="background-image: url('{% static 'cross.png' %}')" id="remove-skillset" onclick="removeSkillset('{{skill}}')"></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% if current_user == uploader %}
                        <div class="add-tag" id="add-skillset" onclick="addSkillset()">
                            <div class="plus" style="background-image: url('{% static 'plus.png' %}')"></div>
                        </div>
                    {% endif %}

                </div>
                <div class="mediums">
                    Software and mediums:
                    {% for medium in mediums %}
                    <li class="medium-tag" id="{{medium}}">
                        <span style="cursor: default;" class="medium-text">{{medium}}</span>
                        {% if current_user == uploader %}
                            <div class="cross" style="background-image: url('{% static 'cross.png' %}')" id="remove-tag" onclick="removeMedium('{{medium}}')"></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% if current_user == uploader %}
                        <div class="add-tag" id="add-medium" onclick="addMedium()">
                            <div class="plus" style="background-image: url('{% static 'plus.png' %}')"></div>
                        </div>
                    {% endif %}
                </div>
                <div>
                    Work Experience:
                </div>
                <br>
                <div class="profile-description" id="work-experience">
                    {{work_exp}}
                {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-work-exp" onclick="editWorkExp('{{work_exp | force_escape | force_escape}}')"></div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>



<!-- The bottom navigation bar -->
     <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto btn-gal">
                    <li><a href="/profile/{{uploader}}/" class="navbar-button">Gallery</a></li>
                </div>
            <div class="nav navbar-nav mx-auto btn-pro">
                    <li><a href="/profile/{{uploader}}/about/" class="navbar-button">Profile</a></li>
                </div>
            <div class="nav navbar-nav mr-auto btn-con">
                    <li><a href="#" class="navbar-button" onClick="launchAssistant({'action': 'contact'})">Contact</a></li>
                </div>
        </div>
    </nav>
<!-- Social media buttons -->
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding">
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        {% if fb != '' %}
        <button type="button" class="btn btn-default btn-circle no-padding" onclick="javascript:window.open('{{fb}}')">
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        {% else %}
        <button type="button" class="btn btn-default btn-circle no-padding">
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        {% endif %}
        {% if insta != '' %}
        <button type="button" class="btn btn-default btn-circle no-padding" onclick="javascript:window.open('{{insta}}')">
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
        {% else %}
        <button type="button" class="btn btn-default btn-circle no-padding">
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
        {% endif %}
    </div>

    <div>
        <a href="/profile/{{ uploader }}" class="profile-name">{{uploader | upper }}</a>
    </div>

<!-- Assistant -->
    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'profile', 'username': '{{uploader}}'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    <div class="logo" style="background-image: url('{% static 'VenueLogo.png' %}')">
        <a href="/" style="position:absolute; left: 0;right: 0; top: 0; bottom: 0;"></a>
    </div>
    <script src="{% static 'assistant.js' %}"></script>
    <script src="{% static 'about.js' %}"></script>
    {% if current_user == uploader %}
    <script src="{% static 'profile_pic.js' %}"></script>
    {% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>


{% endblock %}