{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Profile picture and the intro -->

<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<body style="background-image: url('{% static 'BG1.png' %}')">

    <div class="container">
        <div class="row">
        	<div class="col-6">
        		<article id="article mx-auto">
                    <div id="holder">
                        <p class="add" id="upload-sign">+</p>
                        <p class="upload-text" id="upload-text">Drag your profile picture here</p>
                    </div>
                    <input type="file" id="my_image" style="display: none;">
                    <!--<p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>-->
                </article>
                <div style="background-image: url('{% static 'thumb_up.png' %}')" class="total-likes mx-auto"></div>
                <div class="center-text mx-auto">
                    Total likes:
                </div>
                <div class="mx-auto link-content">
                    <div style="background-image: url('{% static 'instagram.png' %}')" class="link-img"></div>
                    <div class="link-text">
                        Link your Instagram account on your profile...
                    </div>
                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-social" onclick="editTitle('{{selected_title | force_escape | force_escape}}')"></div>
                    {% endif %}
                </div>
                <div class="mx-auto link-content">
                    <div style="background-image: url('{% static 'facebook.png' %}')" class="link-img"></div>
                    <div class="link-text">
                        Link your Facebook account in your profile...
                    </div>
                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-social" onclick="editTitle('{{selected_title | force_escape | force_escape}}')"></div>
                    {% endif %}
                </div>
        	</div>
            <div class="col-6 mx-auto">
            	<div class="cat-head">
                    Profile
                </div>
                    <div class="profile-description">
	                    This is a short description about who I am and what kind of art I am interested in.
                    {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-social" onclick="editTitle('{{selected_title | force_escape | force_escape}}')"></div>
                    {% endif %}
					</div>
                <div class="skills">
                    Skillset:
                    <li class="skill-tag" id="{{skill}}">
                        <span style="cursor: pointer;" class="skill-text">Illustration</span>
                        {% if current_user == uploader %}
                            <div class="cross" style="background-image: url('{% static 'cross.png' %}')" id="remove-tag" onclick="removeTag('Illustration')"></div>
                        {% endif %}
                    </li>
                    {% if current_user == uploader %}
                        <div class="add-tag" id="add-tag" onclick="addTag()">
                            <div class="plus" style="background-image: url('{% static 'plus.png' %}')"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="mediums">
                    Software and mediums:
                    <li class="medium-tag" id="{{medium}}">
                        <span style="cursor: pointer;" class="medium-text">Photoshop</span>
                        {% if current_user == uploader %}
                            <div class="cross" style="background-image: url('{% static 'cross.png' %}')" id="remove-tag" onclick="removeTag('Illustration')"></div>
                        {% endif %}
                    </li>
                    {% if current_user == uploader %}
                        <div class="add-tag" id="add-tag" onclick="addTag()">
                            <div class="plus" style="background-image: url('{% static 'plus.png' %}')"></div>
                        </div>
                    {% endif %}
                </div>
                <div>
                    Work Experience:
                </div>
                <br>
                <div class="profile-description" id="work-experience">
                    I have worked with software startups as part of their UX/UI design team, with an additional focus on conversational UX flow for bot-handled websites.

                {% if current_user == uploader %}
                        <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-social" onclick="editTitle('{{selected_title | force_escape | force_escape}}')"></div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>



<!-- The bottom navigation bar --> 
     <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto btn-gal">
                    <li><a href="/profile/{{uploader}}/" class="navbar-button">Gallery</a></li>
                </div>
            <div class="nav navbar-nav mx-auto btn-pro">
                    <li><a href="/profile/{{uploader}}/about/" class="navbar-button">Profile</a></li>
                </div>
            <div class="nav navbar-nav mr-auto btn-con">
                    <li><a href="#" class="navbar-button" onClick="launchAssistant({'action': 'contact'})">Contact</a></li>
                </div>
        </div>
    </nav>
<!-- Social media buttons -->
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/profile/{{ uploader }}" class="profile-name">{{uploader | upper }}</a>
    </div>

<!-- Assistant -->
    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'profile', 'username': '{{uploader}}'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    <div class="logo" style="background-image: url('{% static 'VenueLogo.png' %}')">
        <a href="/" style="position:absolute; left: 0;right: 0; top: 0; bottom: 0;"></a>
    </div>
    <script src="{% static 'assistant.js' %}"></script>
    <script src="{% static 'about.js' %}"></script>

</body>

{% endblock %}