{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/profile/featured/img-view">
                    <div class="fit-img" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                </a>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="cat-head">
                    - FEATURED -
                </div>
                <div class="cat-intro">
                    Displayed here are pieces meant to showcase the range of my portfolio at a glance. I enjoy experimenting with different
                    styles as it helps me break out of art blocks, especially if things start to get monotonous.
                </div>
            </div>
        </div>
        <div class="row">
            {% for url in urls %}
            <div class="col-4">
                <a href="#">
                    <div class="fit-img small-thumb">
                        <div class="content">
                            <div class="small-thumb-cover" style="background-image: url('{{url}}')"></div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


    <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Featured</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Fantasy</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Portraits</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Landscapes</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Studies</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
        </div>
    </nav>

    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/" class="profile-name">LEAKYJAR</a>
    </div>

    <button type="button" class="btn btn-default btn-circle no-padding btn-assistant" >
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>

</body>

{% endblock %}