{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
<body style="background-image: url('{% static 'BG1.png' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id='carousel-custom' class='carousel slide carousel-wrapper' data-ride='carousel'>
    <!-- Wrapper for slides -->
    <div class='carousel-inner carousel-shape'>
        {% for url, params in urls.items %}
                {% if params.idx == 0 %}
                    <div class='carousel-item height active' id='{{"carousel-"|add:params.key}}'>
                        <div class="display-image" style="background-image: url('{{url}}')">
                            <a href="{{url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% else %}
                    <div class='carousel-item height' id='{{"carousel-"|add:params.key}}'>
                        <div class="display-image" style="background-image: url('{{url}}' )">
                            <a href="{{url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}

        <!-- Controls -->
        <a class='left carousel-control carousel-custom-left' href='#carousel-custom' data-slide='prev'>
            <span class='carousel-left-icon'><</span>
        </a>
        <a class='right carousel-control carousel-custom-right' href='#carousel-custom' data-slide='next'>
            <span class='carousel-right-icon'>></span>
        </a>

    </div>

</div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="cat-head">
                    - {{ category | upper }} -
                </div>
                <div class="cat-intro" id="cat-intro">
                    {{ description }}
                    {% if current_user == uploader %}
                        <div class="edit" id="edit-desc" style="background-image: url('{% static 'edit.png' %}')" onclick="editDescription('{{ description | force_escape | force_escape}}', '{{ category }}')"></div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if current_user == uploader %}
            <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-img" onclick="editImages()"></div>
        {% endif %}

        <div class="row">
            {% for url, params in urls.items %}
            <div class="col-md-4" id="{{params.key}}">
                <a href="#">
                    <div class="fit-img small-thumb" >
                        <div class="content">
                            <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                                <div class="small-thumb-cover" style="background-image: url('{{url}}')"></div>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


        <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto">
                    <li><a href="/" class="navbar-button">Gallery</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">Profile</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mr-auto">
                    <li><a href="#" class="navbar-button" onClick="launchAssistant({'action': 'contact'})">Contact</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
        </div>
    </nav>
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/profile/{{ uploader }}" class="profile-name">{{ uploader | upper }}</a>
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'profile', 'username': '{{uploader}}'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    {% csrf_token %}
    <script src="{% static 'assistant.js' %}"></script>
    <script src="{% static 'category.js' %}"></script>

</body>

{% endblock %}