{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'img-view.css' %}">
<body style="background-image: url('{% static 'BG1.png' %}')">
<div id='carousel-custom' class='carousel slide carousel-wrapper' data-ride='carousel' data-interval="false">
    <!-- Wrapper for slides -->
    <div class='carousel-inner carousel-shape'>
        {% for idx, params in urls.items %}
            {% if selected %}
                {% if params.key == selected %}
                    <div class='carousel-item height active' id="{{params.title}}" data-img="{{params.key}}" data-desc="{{params.description}}" data-liked="{{params.liked}}" data-tags="{{params.tags}}", data-like-count="{{params.likes}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}' )">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% else %}
                    <div class='carousel-item height' id="{{params.title}}" data-img="{{params.key}}" data-desc="{{params.description}}" data-liked="{{params.liked}}" data-tags="{{params.tags}}", data-like-count="{{params.likes}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}'">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if params.idx == 0 %}
                    <div class='carousel-item height active' id="{{params.title}}" data-img="{{params.key}}" data-desc="{{params.description}}" data-liked="{{params.liked}}" data-tags="{{params.tags}}", data-like-count="{{params.likes}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}')">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% else %}
                    <div class='carousel-item height' id="{{params.title}}" data-img="{{params.key}}" data-desc="{{params.description}}" data-liked="{{params.liked}}" data-tags="{{params.tags}}", data-like-count="{{params.likes}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}' )">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        <!-- Controls -->
        <a class='left carousel-control carousel-custom-left' href='#carousel-custom' data-slide='prev'>
            <span class='carousel-left-icon'><</span>
        </a>
        <a class='right carousel-control carousel-custom-right' href='#carousel-custom' data-slide='next'>
            <span class='carousel-right-icon'>></span>
        </a>

        <!-- Indicators -->
        <ol class='carousel-indicators carousel-indicators-custom'>
            {% for idx, params in thumbnail_urls.items %}
                {% if selected %}
                    {% if params.key == selected %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}' class='active'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% else %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% endif %}
                {% else %}
                    {% if params.idx == 0 %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}' class='active'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% else %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>

    </div>

</div>
    <p hidden id="selectedId">{{selected}}</p>
    <p hidden id="selectedTitle">{{selected_title}}</p>
    <div class="container main-content">
        <div class="row">
            <span class="ml-auto" style="text-align: right; transform:translate(-100%, 10%)" id="likeTxt">{{selected_like_count}} liked this</span>
            {% if selected_liked %}
            <button type="button" data-toggle="button" id="like" onClick="toggleLike()" class="liked-btn">
                <span style="background-image: url('{% static 'tick_boxless.png' %}')" class="like-img" id="like-img"></span>
                <span style="margin-right: 0.5rem" id="like-text">Liked</span>
            </button>
            {% else %}
            <button type="button" data-toggle="button" id="like" onClick="toggleLike()" class="like-btn">
                <span style="background-image: url('{% static 'like.png' %}')" class="like-img" id="like-img"></span>
                <span style="margin-right: 0.5rem" id="like-text">Like</span>
            </button>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="title" id="img-title">- {{selected_title | upper}} -</div>
            {% if current_user == uploader %}
                <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-title" onclick="editTitle('{{selected_title | force_escape | force_escape}}')"></div>
            {% endif %}
            </div>
            <div class="col-12 mx-auto">
                <div class="img-desc" id="img-desc">
                    {{ selected_description }}
                </div>
                {% if current_user == uploader %}
                <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-desc" onclick="editImageDescription('{{selected_description | force_escape | force_escape}}')"></div>
                {% endif %}
            </div>
            <div class="col-12 mx-auto">
                <ul class="img-tags" id="img-tags">
                    Tags:
                    {% for tag in tags %}
                    <li class="img-tag" id="{{tag}}">
                        <span onclick="javascript:window.location.href='/search/?query={{tag}}'" style="cursor: pointer;" class="tag-text">{{ tag }}</span>
                        {% if current_user == uploader %}
                            <div class="cross" style="background-image: url('{% static 'cross.png' %}')" id="remove-tag" onclick="removeTag('{{tag | force_escape}}')"></div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% if current_user == uploader %}
                        <div class="add-tag" id="add-tag" onclick="addTag()">
                            <div class="plus" style="background-image: url('{% static 'plus.png' %}')"></div>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

        <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto btn-gal">
                    <li><a href="/profile/{{uploader}}/" class="navbar-button">Gallery</a></li>
                </div>
            <div class="nav navbar-nav mx-auto btn-pro">
                    <li><a href="/profile/{{uploader}}/about/" class="navbar-button">Profile</a></li>
                </div>
            <div class="nav navbar-nav mr-auto btn-con">
                    <li><a href="#" class="navbar-button" onClick="launchAssistant({'action': 'contact'})">Contact</a></li>
                </div>
        </div>
    </nav>
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/profile/{{ uploader }}" class="profile-name">{{ uploader | upper }}</a>
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'profile', 'username': '{{uploader}}'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>

    <div class="logo" style="background-image: url('{% static 'VenueLogo.png' %}')">
        <a href="/" style="position:absolute; left: 0;right: 0; top: 0; bottom: 0;"></a>
    </div>
    <script src="{% static 'assistant.js' %}"></script>
    <script src="{% static 'img_view.js' %}"></script>
    {% csrf_token %}
    <script src="{% static 'like.js' %}"></script>

</body>

{% endblock %}