{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'img-view.css' %}">

<body>
<div id='carousel-custom' class='carousel slide carousel-wrapper' data-ride='carousel' data-interval="false">
    <!-- Wrapper for slides -->
    <div class='carousel-inner carousel-shape'>
        {% for idx, params in urls.items %}
            {% if selected %}
                {% if params.key == selected %}
                    <div class='carousel-item height active' id="{{params.title}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}' )">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% else %}
                    <div class='carousel-item height' id="{{params.title}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}'">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if params.idx == 0 %}
                    <div class='carousel-item height active' id="{{params.title}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}')">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% else %}
                    <div class='carousel-item height' id="{{params.title}}">
                        <div class="display-image" style="background-image: url('{{params.medium_url}}' )">
                            <a href="{{params.url}}" data-fancybox class="fancy-click"></a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        <!-- Controls -->
        <a class='left carousel-control carousel-custom-left' href='#carousel-custom' data-slide='prev'>
            <span class='carousel-left-icon'><</span>
        </a>
        <a class='right carousel-control carousel-custom-right' href='#carousel-custom' data-slide='next'>
            <span class='carousel-right-icon'>></span>
        </a>

        <!-- Indicators -->
        <ol class='carousel-indicators carousel-indicators-custom'>
            {% for idx, params in thumbnail_urls.items %}
                {% if selected %}
                    {% if params.key == selected %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}' class='active'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% else %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% endif %}
                {% else %}
                    {% if params.idx == 0 %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}' class='active'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% else %}
                        <li data-target='#carousel-custom' data-slide-to='{{params.idx}}'><div class="display-image-thumb" style="background-image: url('{{params.url}}')"></div></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>

    </div>

</div>

    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="title" id="img-title">- {{selected_title}} -</div>
            </div>
        </div>
    </div>

        <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto">
                    <li><a href="/" class="navbar-button">Gallery</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mx-auto">
                    <li><a href="#" class="navbar-button">About</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            <div class="nav navbar-nav mr-auto">
                    <li><a href="#" class="navbar-button">Contact</a></li>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
        </div>
    </nav>
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/" class="profile-name">LEAKYJAR</a>
    </div>

    <div class="user-description">
        Welcome to my portfolio! I am a concept artist and illustrator <br> working primarily on digital mediums.
        Feel free to take a look </br> around or speak to my assistant!
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant()">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    <script src="{% static 'assistant.js' %}"></script>
    <script src="{% static 'img_title_change.js' %}"></script>

</body>

{% endblock %}