{% extends 'base.html' %}
{% load staticfiles %}
{% load string_utils %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<body style="background-image: url('{% static 'BG1.png' %}')">
    <div class="container main-content">
        <div>
            <div class="row">
                <div class="col-md-4 col-sm-12 ml-auto">
                    <a href="{% url 'category' uploader featured_tags.0.tag%}">
                        <div class="portrait" style="background-image: url('{{featured_tags.0.url}}')">
                            <div class="black-grad"></div>
                            <div class="cat-name" id="0">{{featured_tags.0.tag | upper}}</div>

                        </div>
                    </a>
                </div>
                <div class="col-md-7 col-sm-12 mr-auto">
                    <div class="row">
                        <div class="col-12 no-padding">
                            <a href="{% url 'category' uploader featured_tags.1.tag%}">
                                <div class="landscape" style="background-image: url('{{featured_tags.1.url}}')">
                                    <div class="black-grad"></div>
                                    <div class="cat-name" id="1">{{featured_tags.1.tag | upper}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 no-padding mr-auto">
                            <a href="{% url 'category' uploader featured_tags.2.tag %}">
                                <div class="fitted-vert-thumb" style="background-image: url('{{featured_tags.2.url}}');background-position: 25%;">
                                    <div class="black-grad-vert"></div>
                                    <div class="cat-name-vert" id="2">{{featured_tags.2.tag | upper | spaces}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding mx-auto">
                            <a href="{% url 'category' uploader featured_tags.3.tag %}">
                                <div class="fitted-vert-thumb" style="background-image: url('{{featured_tags.3.url}}');">
                                    <div class="black-grad-vert"></div>
                                    <div class="cat-name-vert" id="3">{{featured_tags.3.tag | upper | spaces}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding mx-auto">
                            <a href="{% url 'category' uploader featured_tags.4.tag %}">
                                <div class="lg-vert-thumb" style="background-image: url('{{featured_tags.4.url}}');background-position: 55% 30%;background-size: 25em">
                                    <div class="black-grad-vert"></div>
                                    <div class="cat-name-vert" id="4">{{featured_tags.4.tag | upper | spaces}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding mx-auto">
                            <a href="{% url 'category' uploader featured_tags.5.tag %}">
                                <div class="lg-vert-thumb" style="background-image: url('{{featured_tags.5.url}}');background-position: 45% 30%;">
                                    <div class="black-grad-vert"></div>
                                    <div class="cat-name-vert" id="5">{{featured_tags.5.tag | upper | spaces}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-12 no-padding ml-auto">
                            <!--style="margin-bottom: 15rem;">-->
                            <a href="{% url 'category' uploader featured_tags.6.tag %}">
                                <div class="lg-vert-thumb" style="background-image: url('{{featured_tags.6.url}}');background-position: 55% 13%;background-size: 70em">
                                    <div class="black-grad-vert"></div>
                                    <div class="cat-name-vert" id="6">{{featured_tags.6.tag | upper | spaces}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if current_user == uploader %}
            <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-layout" onclick="editLayout('{{uploader}}')"></div>
        {% endif %}
    </div>
    
    <nav class="navbar-default nav-image navbar" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('{% static 'AttackOfMiku.jpg' %}')">
        <div class="container">
            <div class="nav navbar-nav ml-auto btn-gal">
                    <li><a href="/profile/{{uploader}}/" class="navbar-button">Gallery</a></li>
                </div>
            <div class="nav navbar-nav mx-auto btn-pro">
                    <li><a href="/profile/{{uploader}}/about/" class="navbar-button">Profile</a></li>
                </div>
            <div class="nav navbar-nav mr-auto btn-con">
                    <li><a href="#" class="navbar-button" onClick="launchAssistant({'action': 'contact'})">Contact</a></li>
                </div>
        </div>
    </nav>
    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <div>
        <a href="/profile/{{ uploader }}" class="profile-name">{{ uploader | upper }}</a>
    </div>

    <div class="user-description" id="user-desc">

        {% autoescape off %}
        {{about_text}}
        {% endautoescape %}
        {% if current_user == uploader %}
            <div class="edit brighten" style="background-image: url('{% static 'edit.png' %}')" id="edit-user-desc" onclick="editDescription('{{about_text | force_escape}}')"></div>
        {% endif %}
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'profile', 'username': '{{uploader}}'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>

    <div class="logo" style="background-image: url('{% static 'VenueLogo.png' %}')">
        <a href="/" style="position:absolute; left: 0;right: 0; top: 0; bottom: 0;"></a>
    </div>
    {% csrf_token %}
    <script src="{% static 'profile.js' %}"></script>
    <script src="{% static 'assistant.js' %}"></script>

</body>
{% endblock %}