{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
<body>
<div class="inner-body">
    <div class="speech-symbol-container">
        <div class="speech-symbol">"</div>
    </div>
    <div class="assistant-speech">{{ header_text }}</div>
    <div class="variable-content">
        <div class="variable-text">{{ text }}</div>
        {% for button_txt, params in buttons.items %}
        {% autoescape off %}
            <button class="option-btn btn-{{params.type}}" onClick="{{params.onClick}}">{{button_txt}}</button>
        {% endautoescape %}
            <br>
        {% endfor %}
        {% if inputs != None %}
        <form action="{{ form }}" method="post">
            {% csrf_token %}
            {% for input_fields, params in inputs.items %}
                <div class="input-header">{{input_fields}}:</div>
                <input type="{{params.type}}" name="{{params.name}}" class="input-field">
                <br>
                <br>
            {% endfor %}
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        {% endif %}
        {% if search != None %}
            {% for search_field, params in search.items %}
                <input type="{{search_field}}" class="input-field" placeholder="{{params}}">
                <button type="button" class="btn btn-default btn-search no-padding">
                    <img src="{% static 'search.png' %}" alt="search" class="search-img">
                </button>
                <br>
                <br>
            {% endfor %}
        {% endif %}
    </div>

        {% if upload == True %}
        <article>
            <div id="holder"></div>
        </article>

        <script src="{% static 'assistant-content.js' %}"></script>
        {% endif %}

</div>
{% if assistant_url %}
<div class="assistant-img" style="background-image: url({{assistant_url}})"></div>
{% else %}
<div class="assistant-img" style="background-image: url('{% static 'Assistant1.png' %}')"></div>
{% endif %}

</body>

{% endblock %}