{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
<body>
<div class="inner-body">
    <div class="speech-symbol">"</div>
    <div class="assistant-speech">Hi, I’m the gallery assistant, here to help.</div>
    <div class="variable-content">
        <div class="variable-text">{{ text }}</div>
        {% for button_txt, params in buttons.items %}
            <button class="option-btn btn-{{params.type}}" onClick="{{params.onClick}}">{{button_txt}}</button>
            <br>
        {% endfor %}
    </div>

</div>

<div class="assistant-img" style="background-image: url('{% static 'Assistant1.png' %}')"></div>

</body>

{% endblock %}