{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
<body>

{% csrf_token %}
<div class="inner-body">
    <div class="speech-symbol">"</div>
    <div class="speech-symbol-container">
    </div>
    <div class="assistant-speech" id="assistant-speech">{{ header_text }}</div>

    {% if text != "" %}
    <div class="variable-text">{{ text }}</div>
    {% endif %}

    <div class="variable-content" id="variable-content">
        {% for button_txt, params in buttons.items %}
            <br>
        {% autoescape off %}
            <button class="option-btn btn-{{params.type}}" onClick="{{params.onClick}}">{{button_txt}}</button>
        {% endautoescape %}
        {% endfor %}
        {% if inputs != None %}
        <form action="{{ form }}" method="post">
            {% csrf_token %}
            {% for input_fields, params in inputs.items %}
                <div class="input-header">{{input_fields}}:</div>
                <input type="{{params.type}}" name="{{params.name}}" class="input-field">
                <br>
                <br>
            {% endfor %}
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        {% endif %}
        {% if search != None %}
            {% for search_field, params in search.items %}
                <input type="{{search_field}}" class="input-field" placeholder="{{params}}" id="searchBox" onkeypress="searchKeyPress(event)">
                <button type="button" id="searchBtn" class="btn btn-default btn-search no-padding" onClick="search()">
                    <img src="{% static 'search.png' %}" alt="search" class="search-img">
                </button>
                <br>
                <br>
            {% endfor %}
        {% endif %}
        {% if upload == True %}
        <article id="article">
            <div id="holder">
                <p class="add" id="upload-sign">+</p>
                <p class="upload-text" id="upload-text">Drag your png or jpeg file here</p>
            </div>
            <input type="file" id="my_image" style="display: none;">
            <!--<p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>-->
        </article>
        {% endif %}
        {% if chooseAssistant == True %}
            <div class="assistant-icon" style="background-image: url('{% static 'AssistantThumb.png' %}')" onclick="changedAssistant()"></div>
        {% endif %}
        {% if inbox != None %}
            {% for message in inbox %}
                <button class="option-btn btn-2" onclick="javascript:window.location.href='/assistant?action={{message.id}}'">{{ message.subject }}</button>
            {% endfor %}
        {% endif %}
        {% if message != None %}
            <div><strong>From: </strong>{{message.sender}}</div>
            <div><strong>Subject: </strong>{{message.subject}}</div>
            <div><strong>Content: </strong><br>{{message.content}}</div>
        {% endif %}
        {% if upload_assistant %}
        <p id="uploadAssistant" hidden>true</p>
        {% else %}
        <p id="uploadAssistant" hidden>false</p>
        {% endif %}
    </div>
    {% if message != None %}
    <div style="position:absolute; width: calc(10rem + 25vw); margin-left: 6rem;">
        <button class="submit-btn" onclick="javascript:window.location.href='/assistant?action=inbox'" style="left: 30%; margin-top: 1rem">Back</button>
        <button class="submit-btn" onclick="javascript:window.location.href='/assistant?action=inbox'" style="left: 60%; margin-top: 1rem;background-color: #24685B;">Delete</button>
    </div>
    {% endif %}
    {% if contact == True %}
    <form action="" method="post" style="position:relative; padding-left: 5rem;">
        {% csrf_token %}
        <div class="input-header">Subject:</div>
        <input type="text" name="email" style="padding-left: 0; border-radius: 0rem; width: 80%; margin-left: 1rem;    border-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-style: inset;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;">
        <div class="input-header">Enter your message:</div>
        <textarea type="text" name="text-message" style="width: 80%; height: 100%; margin-left: 1rem;"></textarea>
        <br>
        <button type="submit" class="submit-btn" style="margin-top: 2rem;">Submit</button>
    </form>
    {% endif %}

</div>
{% if assistant_url %}
<div class="assistant-img" style="background-image: url({{assistant_url}})"></div>
{% else %}
<div class="assistant-img" style="background-image: url('{% static 'Assistant1.png' %}')"></div>
{% endif %}

    <!--<div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-assist" onclick="editAssistant()"></div>-->
{% if current_user == uploader %}
    <div class="edit" style="background-image: url('{% static 'edit.png' %}')" id="edit-assist" onclick="editAssistant()"></div>
{% endif %}

{% if uploader %}
    <p id="uploader" hidden>{{uploader}}</p>
{% endif %}
<script src="{% static 'assistant-content.js' %}"></script>
<script type="text/javascript">
function editAssistant(){
    location.href='/assistant?action=editAssistant&username={{uploader}}';

return true;
}

function changedAssistant(){
    location.href='/assistant?action=changedAssistant';

return true;
}
</script>

</body>

{% endblock %}