body {	
	margin-top: 2rem !important;
	background-color: #DAD3CE;
}

img{
	max-height: 100%;
	max-width: 100%;
}

.container {
	max-width: 80%;
	margin: auto;
	position: relative;
}

.place-holder{
	width: 20vw;
	height: 20vw;
	display: block;
    margin: 0 auto;
	background-color: grey;
	border-radius: 20rem;
}

.profile-description{
	width: auto;
    color: black;
	/*font-family: Lato;*/
	/*letter-spacing: 0.05rem;*/
	font-style: normal;
	/*font-size: calc(0.5em + 1vmin);*/
	line-height: 20px;
	text-align: left;
	margin-bottom: 2rem;
	z-index: 2;
}

.total-likes{
	height: 3rem;
	width: 3rem;	
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 4rem;
/*	position: absolute;
	left: 50%;
	transform: translate(50%.0);*/
}

.center-text {
	text-align: center;
    width: 9rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-decoration: underline;
}

.link-content {
	text-align: center;
    width: 30rem;
}

.link-text{
	display: inline-block;
	color: grey;
}

.link-img{
	height: 3rem;
	width: 3rem;	
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	transform: translate(0, 40%);
}

.cat-head{
	width: 100%;
	position: relative;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.5em !important;
	padding-bottom: 1rem;
}

.navbar {
	bottom:0;
	position:fixed;
	width: 100%;
	background-color: black;
	height: 9rem;
	border-top: 3px solid white;
	z-index: 1;
}

.navbar-button{
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 1rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.5em !important;
	-webkit-transition: -webkit-stroke-width 1s;
	transition: font-size 0.3s, text-shadow 0.3s 

}

.navbar-button:hover{
	font-size: 1.05rem;
	color: white;
	text-decoration: none;
	-webkit-stroke-width: 5.3rem !important;
    -webkit-stroke-color: #FFFFFF !important;
    -webkit-fill-color: #FFFFFF !important;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
    transition: font-size 0.7s, text-shadow 0.7s 
}

.no-padding{
	padding: 0em !important;
}

.nav-image{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 0% 72% !important;
}

.social-media-block{
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 2em;
	margin-right: 2em;
	height: 20em;
	width: 3em;
}

.btn-circle {
    width: 3em;
    height: 3em;
    padding: 1em 0em;
    border-radius: 5em;
    text-align: center;
    font-size: 1em;
    line-height: 1.42857;
    margin-bottom: 1rem;
}

.btn-circle:hover {
	background: linear-gradient(
      #DF784B,
      #DF784B);
}

.profile-name{
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 2vw;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.8em !important;
	-webkit-transition: -webkit-stroke-width 1s;
	bottom: 0em;
	left: 0em;
	margin: 2rem;
	position: fixed;
	z-index: 2;
}	

.profile-name:hover{
	color: white;
	text-decoration: none;	
}

.btn-assistant{
    width: 4em;
    height: 4em;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 2rem;
	margin-bottom: 1rem;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0rem 0rem .5rem 0.1rem rgba(0, 0, 0, 0.5);
}

.btn-assistant:hover{
	background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1));
	box-shadow: 0rem 0rem .5rem .2rem white;
}

.logo{
	height: 4rem;
	width: 4rem;
	position: fixed;
	right: 0;
	top: 50%;
	margin-right: 2rem;
	transform: translate(0, -50%);
	background-position: center;
	background-size: cover;
	border-radius: 20rem;
	background-color: transparent;	
	box-shadow: 0rem 0rem .5rem 0.1rem rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.5s;
}

.logo:hover{
	box-shadow: 0rem 0rem .5rem .2rem white;
	transition: box-shadow 0.5s;
	cursor: pointer;
}

.btn-gal{
    position: absolute;
    left: 25%;
    transform: translate(-50%,0);
    bottom: 2rem;
}

.btn-pro{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 2rem;
}

.btn-con{
    position: absolute;
    left: 75%;
    transform: translate(-50%,0);
    bottom: 2rem;
}

.skills{
	text-align: center;
	padding: 0;
	margin-bottom: 2rem;
}

.skill-tag{
	display: inline-block;
	border-radius: 20rem;
	border-color: #E85415;
	background-color: #A40A0A;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.1rem;
    padding-bottom: 0.1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	color: white;
}

.skill-tag:hover{
	box-shadow: inset 0 0 100rem 100rem rgba(0, 0, 0, 0.2);
    /*cursor: pointer;*/	
    transition: box-shadow 0.5s;
}

.mediums{
	text-align: center;
	padding: 0;
	margin-bottom: 2rem;
}

.medium-tag{
	display: inline-block;
	border-radius: 20rem;
	border-color: #E85415;
	background-color: #24685B;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.1rem;
    padding-bottom: 0.1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	color: white;
}

.medium-tag:hover{
	box-shadow: inset 0 0 100rem 100rem rgba(0, 0, 0, 0.2);
    /*cursor: pointer;*/	
    transition: box-shadow 0.5s;
}
.cross{
	height: 0.7rem;
    width: 0.7rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5rem;
}

.cross:hover{
	cursor: pointer;
}

.edit{
	height: 1rem;
	width: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    position: absolute;
    right: 0;
    transform: translate(-100%, 200%);
}

.edit:hover{
	box-shadow: inset 0 0 100rem 100rem rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.add-tag{
	display: inline-block;
	border-radius: 20rem;
	border-color: grey;
	background-color: #B7B7B7;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.1rem;
    padding-bottom: 0.1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	color: white;
}

.add-tag:hover{
	box-shadow: inset 0 0 100rem 100rem rgba(0, 0, 0, 0.2);
    cursor: pointer;	
    transition: box-shadow 0.5s;
}

.tag-input{
	display: inline-block;
	border-radius: 20rem;
	/*background-color: grey;*/
	border-color: grey;
	border-style: solid;
	border-width: 0.1rem; 
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.1rem;
    padding-bottom: 0.1rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	width: 10rem;
}

.plus{
	height: 0.7rem;
    width: 0.7rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;	
}

.enter{
	opacity: 0.5;
	height: 0.7rem;
    width: 0.7rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;	
    z-index: 1;
    transform: translate(-200%, 0);
}

.enter:hover{
	opacity: 0.7;
	cursor: pointer;
}

#holder{
	border-radius: 20rem;
	width: 20rem;
	height: 20rem;
	margin-bottom: 2rem;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0.2rem 0.2rem .5rem 0.1rem rgba(0, 0, 0, 0.25);
	position: relative;
    left: 50%;
    transform: translate(-50%);
	cursor: pointer;
}

#holder.hover{
	border: 0.2rem dashed #0c0;
}
#holder img {
	display: block;
	margin: 10px auto;
}

.upload-text{
	color: #A40A0A;
	font-weight: bold;
	font-size: 1rem;
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 20rem;
	text-align: center;
}

.add{
	color: #A40A0A;
	font-weight: bold;
	position: absolute;
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -50%);
	font-size: 5rem;
}