.container {
	max-width: 90%;
	margin-left: 2rem;
}

body {
	margin-top: 2rem !important;
	background-color: #DAD3CE;
	background-size: cover;
	background-position: center;
	background-opacity: 0.2;
}

img{
	max-height: 100%;
	max-width: 100%;
}

/*assistant btn*/

.btn-circle {
    width: 3em;
    height: 3em;
    padding: 1em 0em;
    border-radius: 5em;
    text-align: center;
    font-size: 1em;
    line-height: 1.42857;
    margin-bottom: 1rem;
}

.btn-circle:hover {
	background: linear-gradient(
      rgba(0, 123, 255, 1),
      rgba(0, 123, 255, 1))
}

.btn-assistant{
    width: 4em;
    height: 4em;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 2rem;
	margin-bottom: 1rem;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0rem 0rem .5rem 0.1rem rgba(0, 0, 0, 0.5);
}

.btn-assistant:hover{
	background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1));
	box-shadow: 0rem 0rem .5rem .2rem white;
}


/*assistant btn*/

/*social media*/
.social-media-block{
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 2em;
	margin-right: 2em;
	height: 20em;
	width: 3em;
}
/*social media*/

.no-padding{
	padding: 0em !important;
}

.small-thumb-cover{
	position:  absolute;
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.fit-img{
	width: 100%;	
	padding-top: 100%;
	background-color: black;
	overflow: hidden;
    background-position: center;
    border-radius: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 2rem;
}

.brick{
	/*overflow: hidden;*/
    border-radius: 1em;
}

.cus-col-3{
	width: 40%;
	/*overflow: hidden;*/
}

.cus-col-2{
	width: 20rem;
	/*overflow: hidden;*/
}

.cus-col-1{
	width: 10rem;
	/*overflow: hidden;*/
}

.loading{
	height: 5rem;
    width: 5rem;
	position: fixed;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.loading-text{
	font-size: 2rem; 
	position: fixed;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,50%);
	color: black;
}

.screen-overlay{
	height: 100rem;
    width: 200rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    transform: translate(0, -10%);
}