.navbar {
	bottom:0;
	position:fixed;
	width: 100%;
	background-color: black;
	height: 12rem;
	border-top: 3px solid white;
	z-index: 1;
}

.nav-image{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 0% 72% !important;
}


body {
	margin-top: 2rem !important;
	background-color: #DAD3CE;
}

img{
	max-height: 100%;
	max-width: 100%;
}
.rounded {
	border-radius: 1rem !important;
}

.portrait{
	height: 38em;
	width: 100%;
	overflow: hidden;
    background-position: center;
    border-radius: 1em;
    background-size: cover;
    position: relative;
    margin-bottom: .5rem;
}

.landscape{
	height: 20em;
	width: auto;
	overflow: hidden;
    background-position: center;
    border-radius: 1em;
    background-size: cover;
    position: relative;
    margin-bottom: .5rem;
}

.fitted-vert-thumb{
	height: 17.5em;
	width: 100%;
	overflow: hidden;
    background-position: center;
    border-radius: 1em;
    background-size: cover;
    position: relative;
    margin-bottom: .5rem;
}

.lg-vert-thumb{
	height: 17.5em;
	width: 100%;
	overflow: hidden;
    background-position: center;
    border-radius: 1em;
    background-size: 20em;
    position: relative;
    margin-bottom: .5rem;
}

.navbar-button{
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 1rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.5em !important;
	-webkit-transition: -webkit-stroke-width 1s;
}

.navbar-button:hover{
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
	-webkit-stroke-width: 5.3rem !important;
    -webkit-stroke-color: #FFFFFF !important;
    -webkit-fill-color: #FFFFFF !important;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
}

.no-padding{
	padding: 0em !important;
}

.social-media-block{
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 2em;
	margin-right: 2em;
	height: 20em;
	width: 3em;
}

.btn-circle {
    width: 3em;
    height: 3em;
    padding: 1em 0em;
    border-radius: 5em;
    text-align: center;
    font-size: 1em;
    line-height: 1.42857;
    margin-bottom: 1rem;
}

.btn-circle:hover {
	background: linear-gradient(
      rgba(0, 123, 255, 1),
      rgba(0, 123, 255, 1))
}

.profile-name{
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 2vw;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.8em !important;
	-webkit-transition: -webkit-stroke-width 1s;
	bottom: 0em;
	left: 0em;
	margin: 2rem;
	position: fixed;
	z-index: 2;
}	

.profile-name:hover{
	color: white;
	text-decoration: none;	
}

.btn-assistant{
    width: 4em;
    height: 4em;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 2rem;
	margin-bottom: 1rem;
	overflow: hidden;
	z-index: 2;
}

.btn-assistant:hover{
	background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1));
	box-shadow: 0rem 0rem .5rem .2rem white;
}

.cat-name{
	width: 100%;
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 1rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.5em !important;
	position: absolute;
	bottom: 0;
	padding-bottom: 0.5rem;
	padding-top: 40rem;
	text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white;

}

.cat-name:hover{
	font-size: 1.1rem;	
	text-decoration: none;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
}

.black-grad{
	height: 3rem;
	width: 100%;
	position: absolute;
	bottom: 0;	
	background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1));
}

.cat-name-vert{
	width: 10%;
	height: 100%;
	color: white;
	font-family: Quattrocento;
	font-style: normal;
	font-size: 1rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: 10em !important;
	position: absolute;
	left: 0;
	padding-left: 0.5rem;
	padding-right: 6rem;
	text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white;
	padding-top: 0.5rem; 
	padding-bottom: 10rem;
}

.cat-name-vert:hover{
	font-size: 1.1rem;	
	text-decoration: none;
    text-shadow: 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white, 0rem 0rem 1rem white;
}

.black-grad-vert{
	height: 100%;
	width: 3rem;
	position: absolute;
	left: 0;	
	background: linear-gradient(
		to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1));
}

.user-description{
	width: auto;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	position: fixed;
	bottom: 3%;
    color: white;
	font-family: Lato;
	letter-spacing: 0.05rem;
	font-style: normal;
	font-size: calc(0.5em + 1vmin);
	line-height: 20px;
	text-align: left;
	text-shadow: 0rem 0rem 1rem white,
}