{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.fp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.fp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/mapping.fp.js"></script>
<script src="{% static 'freewall.js' %}"></script>
<script src="{% static 'landing.js' %}"></script>
{% if first_timer %}
<script>
    window.onload = function() {launchAssistant({'action': 'landing'})}
</script>
{% endif %}
<body style="background-image: url('{% static 'BG1.png' %}')">
    <div id="loading-items">
        <!--<div class="screen-overlay"></div>-->
        <div class="loading" style="background-image: url('{% static 'loading.gif' %}')"></div>
        <div class="loading-text">Just a moment, preparing the gallery...</div>
    </div>
    <p id="loadCount" hidden>1</p>
    <div class="container" id="container">
      </div>
      <script>
      $(document).scrollTop(0);
        $(function(){
            imagePopulate(0, 50);
        });
        window.addEventListener('scroll', _.throttle(onScroll, 1000));
      </script>

    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'landing'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>

    <div class="logo" style="background-image: url('{% static 'VenueLogo.png' %}')">
        <a href="/" style="position:absolute; left: 0;right: 0; top: 0; bottom: 0;"></a>
    </div>
    <script src="{% static 'assistant.js' %}"></script>

</body>

{% endblock %}