{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
<script src="{% static 'freewall.js' %}"></script>
<body>
    <div class="container" id="container">
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-1 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cus-col-2 brick">
            <div class="fit-img">
                <div class="content">
                    <a href="/profile/{{uploader}}/{{category}}/img-view?selected={{params.key}}">
                        <div class="small-thumb-cover" style="background-image: url('{% static 'DemonDude1.png' %}')"></div>
                    </a>
                </div>
            </div>
        </div>

      </div>
      <script>
        $(function() {
          var wall = new Freewall("#container");
          wall.reset({
                selector: '.brick',
                animate: true,
                cellW: 160,
                cellH: 160,
                fixSize: null,
                onResize: function() {
                    wall.fitWidth();
                }
          });
          wall.fitWidth();
        });
      </script>

    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'landing'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    <script src="{% static 'assistant.js' %}"></script>

</body>

{% endblock %}