{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
<script src="{% static 'freewall.js' %}"></script>
<script src="{% static 'landing.js' %}"></script>
<body>
    <div class="container" id="container">

      </div>
      <script>
        $(function(){
            imagePopulate();
        });
      </script>

    <div class="social-media-block">
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'twitter.png' %}" alt="twitter">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'facebook.png' %}" alt="facebook">
        </button>
        <button type="button" class="btn btn-default btn-circle no-padding" >
            <img src="{% static 'instagram.png' %}" alt="instagram">
        </button>
    </div>

    <button type="button" id="assistant" class="btn btn-default btn-circle no-padding btn-assistant" onClick="launchAssistant({'action': 'landing'})">
            <img src="{% static 'AssistantThumb.png' %}" alt="assistant">
    </button>
    <script src="{% static 'assistant.js' %}"></script>

</body>

{% endblock %}