{% extends 'base.html' %}

{% block content %}
<body>
<div id="fields">
    <input type="file" id="file_input"/> <br/> <br/>
    <p>Image description: </p><input type="text" id="img_description"> <br/> <br/>
    <!--<p id="status">Please enter tags separated by commas: <input id="tags" type="text"></p>-->
    <p>Title: </p><input type="text" id="img_title"> <br/> <br/>
    <select name="tags" value="tags">
        <option value="" selected disabled hidden>Select tag</option>
        {% for tag in tags %}
        <option value="{{tag.name}}">{{tag.name}}</option>
        {% endfor %}
    </select> <br/>

</div>
<button type="button" onClick="addTag()">Add another tag</button> <br/> <br/>


<button type="button" id="submit_button" onClick="getSignedRequest()">Upload image</button>
<br/><br/>

<form action="add_tag/" method="post">
    {% csrf_token %}
    <p>Create a new tag:</p>
    <p>Tag name: </p><input type="text" name="tag_name">
    <p>Description: </p><input type="text" name="tag_description"> <br/>
    <input type="submit" value="Create tag">
</form>
{% if message %}
    {{message}}
{% endif %}
</body>


<script>
function addTag() {
    var fieldsDiv = document.getElementById("fields");
    var content = document.createElement("SELECT");
    var brTag = document.createElement("br");
    content.innerHTML = `<option value="" selected disabled hidden>Select tag</option>
        {% for tag in tags %}
        <option value="{{tag.name}}">{{tag.name}}</option>
        {% endfor %}`
    fieldsDiv.appendChild(content);
    fieldsDiv.appendChild(brTag);
}
function getSignedRequest(){
    var xhr = new XMLHttpRequest();
    var tags = '';
    $('select').each(function(){
        tags = tags + ',' + $(this).val()
    });
    var description = document.getElementById("img_description").value
    var files = document.getElementById("file_input").files;
    var title = document.getElementById("img_title").value
    var file = files[0];
    if (!file){
        return alert("No file selected.")
    }
    xhr.open("GET", "/upload/sign_s3?file_name="+file.name+"&file_type="+file.type+"&tags="+tags+"&description="+description+"&title="+title);
    xhr.onreadystatechange = function(){
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        var response = JSON.parse(xhr.responseText);
        uploadFile(file, response.data, response.url);
      }
      else{
        alert("Could not get signed URL.");
      }
    }
    };
    xhr.send();
}

function uploadFile(file, s3Data, url){
    var xhr = new XMLHttpRequest();
    xhr.open("POST", s3Data.url);
    document.getElementById("submit_button").innerHTML = "Uploading..."
    var postData = new FormData();
    for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
    }
    postData.append('file', file);

    xhr.onreadystatechange = function() {
    if(xhr.readyState === 4){
      if(xhr.status === 200 || xhr.status === 204){
        document.getElementById("submit_button").innerHTML = "Upload image";
        alert("Upload successful");
      }
      else{
        alert("Could not upload file.");
      }
    }
    };
    xhr.send(postData);
}
</script>
</html>
{% endblock %}